/* base */
html, * {
    font-family: 'Mountains of Christmas', cursive;
    box-sizing: border-box;
    color: rgba(100,150,150,.9);
    font-size: 140%;
  }
body {
    height: 100vh;
    background-color: rgb(252, 100, 77);
    display: flex;
    flex-direction: column;
  }


/* top */
#top {
    height: 250px;
    width: auto;
  }
#score {
    background: whitesmoke;
    border: 5px solid rgba(100,150,150,.5);
    border-radius: 5%;
    height: 100px;
    width: 20%;
    justify-self: flex-end;
    flex-direction: row;
    text-align: center;
    vertical-align: middle;
    align-content: center;  
    margin-top: 40px;
    margin-left: 75%;
    font-size: 80%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
  }

#score:hover {
  background: whitesmoke;
  border: 5px solid rgba(100,150,150,.7);
  border-radius: 6%;
  color: rgba(130,180,180,.9);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 

}



/* middle */
#middle {
    height: 500px;
    width: auto;
  }
#display{
    height: 400px;
    width: 50%;
    background: whitesmoke;
    border: 5px solid rgba(100,150,150,.5);
    border-radius: 5%;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    position: relative;
    left: 25%;
    right: 25%;
    text-align: center;
    vertical-align: middle;  
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
  }   
  #quest{
    font-size: 80%;
  }

  #display:hover {
    background: whitesmoke;
    border: 5px solid rgba(100,150,150,.7);
    border-radius: 6%;
    color: rgba(130,180,180,.9);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
  }




/* bottom */
#bottom {
    display: flex;
    height: 300px;
    width: auto;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
button {
    border: 3px solid rgba(100,150,150,.5);
    border-radius: 5%;
    background: whitesmoke;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100px;
    width: 20%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
}

button:hover {
  border: 3px solid whitesmoke;
  border-radius: 100%;
  background: powderblue;
  color: white;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100px;
  width: 20%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}




/* https://daneden.github.io/animate.css/ */